*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-center {
    font-weight: bold;
    margin: 15px;
}

a {
    font-weight: bold;
    color: #881111;
    border-radius: 20px;
}

a:hover {
    background-color:  #881111;
    color: white;
    border-radius: 20px;
}

td {
    padding: 0px;
}


.table>:not(caption)>*>* {
    padding: 0px;
    text-align: center;
    align-items: middle;
}

.searchInput {
    text-align: center;
    align-items: center;
    border-radius: 20px;


}

.alert {
    position: absolute;
    z-index: 998;
    top: 15px;
    left: 15px;
}

.container {
    width: 100vw;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    text-align: center;
    align-items: center;
    flex-direction: column;

}


.table #containerCFOP1 {
    float: left;
    text-align: center;
    margin: 5px;
}

.table #containerCFOP2 {
    float: left;
    text-align: center;
    margin: 5px;
}

#removeSpaces #send-rm {
    margin-bottom: 10px;
}

#button-rm {
    height: 40px;
    width: 100px;
    border-radius: 8px;
}


#block {
    display: flex;
    text-align: center;
    justify-content: center;
}

#length {
    height: 27px;
    width: 40px;
    margin-left: 10px;
    border: 0 none;
    outline: 0;
    background-color: #c2c2c2;
    border-radius: 1rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

#relogio {
    height: 27px;
    width: 40px;
    margin-left: 10px;
    border: 0 none;
    outline: 0;
    background-color: #c2c2c2;
    border-radius: 1rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

#content {
    width: 420px;
    height: 27px;
    border: 0 none;
    outline: 0;
    outline-style: none;
    margin-bottom: 10px;
    background-color: #c2c2c2;
    border-radius: 1rem;
}

#test{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}